

body {

background-image: url(./futbol1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;

}

.subtitulos1{
    color:white
    


}



